[Unit]

Description = P4d Control Deamon
After = network.target 
StartLimitInterval = 200
StartLimitBurst = 5

[Service]

Type = forking
ExecStart = /usr/local/bin/p4d
Restart = always
RestartSec = 30

[Install]

WantedBy = multi-user.target
